* { background: #fff;}
a:link, a:visited { border-bottom-width: 1px; border-bottom-style: solid; }
#nav1, #util, #banner-nav, #third-nav, #primenav { display:none;}
#col1, #col2, #col3{ float:none;}
#searchForm { display:none;}
#header {padding-bottom:10px;}


