/*
Author: Gavin Cooper
Author URI: http://www.coopergraphicdesign.com
*/


/* RESET */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

html {
  overflow: scroll;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.8em;
  font-family: Verdana, Arial, sans-serif;
  color: #333;
  background: #f6f1df url(../images/WSBI/about_images/bk_repeat_01.gif) top left;
  font-size: 0.7em;
}

ol, ul, li {
  text-indent: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  outline: none;
}

a img {
  border: none;
  background: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex {
  font: inherit;
  font-size: 1em;
}

dfn, i, cite, var, address {
  font-style: normal;
}

th, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet {
  border: none;
}

table {
  border-spacing: 0;
}

caption, th, td, center {
  vertical-align: top;
}

q {
  quotes: "" "";
}

dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: underline;
}

hr {
  display: none;
}


/* we don't need a visual hr in layout */

font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}


/* disables some nasty font attributes in standard browsers */


/* UTILITY */

.clear {
  clear: both;
}

.translucent {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

a.button {
  padding: 6px 20px 6px 6px;
  border: 1px dotted #ccc;
  background: #fff url(/images/arrow_button.gif) no-repeat center right;
  text-decoration: none;
}

a.button:hover {
  color: #000;
  background: #ede6b8 url(/images/arrow_button_o.gif) no-repeat center right;
}

.noborder {
  border: none;
}

.padding {
  padding: 5px;
}

.borderbttm {
  border-bottom: 1px solid #ccc;
}

.bordertop {
  border-top: 1px solid #ccc;
}

.bold {
  font-weight: bold;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.imageAlignRight {
  float: right;
  margin: 0 -25px 0 20px;
}

.inLine {
  display: inline;
}

.margin {
  margin: 7px;
}

.margin-right {
  margin-right: 7px;
}

.margin-left {
  margin-left: 7px;
}

.backbutton {
  background: url(../images/arrow_back.gif) no-repeat 0 center;
  display: inline-block;
  padding: 5px 5px 5px 15px;
}

.caption {
  color: #666;
}

div.bodyImage {
  float: left;
  width: 300px;
  margin: 5px;
}


/* HEADER */

#lines {
  background: url(../images/WSBI/Home_images/header_lines.gif) repeat-x 0 0;
  height: 18px;
  width: 960px;
  margin: 0 auto;
}

#colL .wrapper {
  padding: 20px 45px 20px 30px;
}

#searchForm {
  position: absolute;
  right: 0;
  top: 75px;
  line-height: 1em;
  width: 200px;
  background: #fff;
}

#cse {
  width: 200px;
  position: absolute;
  right: 0;
  top: 60px;
  background: #fff;
  z-index: 200;
}

div.gsc-resultsbox-visible {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

table.gsc-branding {
  display: none;
  visibility: hidden;
  height: 0;
}


/* TOP NAVIGATION*/

#primenav {
  margin-top: 10px;
  height: 40px;
  z-index: 100;
}


/* LEVEL ONE */

#primenav ul.dropdown {
  position: relative;
  list-style: none;
  padding: 10px 0 12px 0;
  border-top: 1px solid #e0e0e0;
  z-index: 100;
}

#primenav ul.dropdown li {
  float: left;
  zoom: 1;
}

#primenav ul.dropdown li a:hover {
  color: #99000;
}

#primenav ul.dropdown li a {
  text-decoration: none;
  text-transform: uppercase;
  font: bold 1em/1em Verdana, Arial, sans-serif;
  color: #003366;
  display: block;
  padding: 4px 11px;
}

#primenav ul.dropdown li.hover, #primenav ul.dropdown li:hover {
  background: #fff;
  color: #990000;
  position: relative;
}

#primenav ul.dropdown li.hover a:hover {
  color: #990000;
}

#primenav ul.dropdown li.hover a {
  color: #990000
}


/* LEVEL TWO */

#primenav ul.dropdown ul {
  z-index: 100;
  width: 240px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#primenav ul.dropdown ul li {
  background: #fff;
  color: #666;
  border-bottom: 1px solid #ccc;
  float: none;
  z-index: 100;
}

#primenav ul.dropdown ul li a, #primenav ul.dropdown li.hover ul li a {
  text-transform: capitalize;
  font: bold 1em/1em Verdana, Arial, sans-serif;
  color: #003366;
  width: 100%;
  display: inline-block;
  background: none;
  z-index: 100;
}

#primenav ul.dropdown li ul li.hover {
  background: #eaeaea;
  position: relative;
  z-index: 100;
}


/* LEVEL THREE */

#primenav ul.dropdown ul ul {
  left: 100%;
  top: 0;
}

#primenav ul.dropdown li:hover > ul {
  visibility: visible;
}

#events #primenav ul.dropdown li a.events, #social #primenav ul.dropdown li a.social, #about #primenav ul.dropdown li a.about, #research #primenav ul.dropdown li a.research, #news #primenav ul.dropdown li a.news, #students #primenav ul.dropdown li a.students, #business #primenav ul.dropdown li a.business, #consulting #primenav ul.dropdown li a.consulting {
  color: #990000;
}


/* GLOBAL LAYOUT */

#page {
  width: 960px;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 5px 5px 5px #ccc;
}

#head-logos {
  height: 85px;
}

#header {
  margin: 5px 10px 0 10px;
  padding-bottom: 15px;
  position: relative;
  background: url(../images/border-redblue.gif) repeat-x bottom;
  z-index: 5;
}

#wsbi {
  background: url("../images/title-text.png") no-repeat 0 0;
  display: block;
  width: 532px;
  height: 19px;
  text-indent: -9999px;
  position: absolute;
  top: 46px;
  left: 169px;
}

#wsba {
  background: url("../images/wsba-logotype.jpg") no-repeat 0 0;
  display: block;
  width: 475px;
  height: 23px;
  text-indent: -9999px;
  position: absolute;
  top: 68px;
  left: 240px;
}

#wharton {
  margin-top: 10px;
}

#bkhome-shadow {
  background: url(../images/WSBI/Home_images/home_bk_shadow.png) no-repeat;
  height: 22px;
}

#bkimg-left {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  background-image: url(../images/WSBI/about_images/flag_left_01.jpg);
  background-repeat: no-repeat;
  width: 120px;
  visibility: visible;
}

#bkimg-right {
  position: absolute;
  left: 1038px;
  top: 0px;
  height: 500px;
  background-image: url(../images/WSBI/about_images/flag_right_01.jpg);
  background-repeat: no-repeat;
  width: 120px;
  visibility: visible;
}

#bkimgtile {
  position: absolute;
  top: 0px;
  height: 500px;
  background-image: url(../images/WSBI/about_images/flag_righttile_03.jpg);
  width: 270px;
  z-index: 0;
  right: 0px;
}

#nav2 {
  width: 77%;
  bottom: 0px;
  font-family: Arial, Verdana;
  height: 30px;
  position: absolute;
  right: 0px;
}

#head {
  background: #fff;
  padding: 15px 20px 15px 20px;
  float: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#head h1 {
  font: normal 2em/1em Verdana, Arial, Helvetica, sans-serif;
  color: #000033;
}

#colL {
  float: left;
  width: 700px;
}

.col3 {
  width: 48%;
  margin-right: 2%;
}


/* HOME */

#homecontent {
  padding: 10px 20px 20px 20px;
}

#page-title {
  padding-bottom: 10px;
}

#page-title h1 {
  font: normal 1.7em/1.7em Verdana, Arial, sans-serif;
  color: #004b83;
  float: left;
}

#page-title span {
  font: normal 1.35em/1.35em Verdana, Arial, sans-serif;
  color: #666;
  padding-top: .5em;
  display: block;
  float: left;
}

#page-title-wsba {
  padding-bottom: 10px;
  float: left;
}

#page-title-wsba h1 {
  font: normal 2em/1em Verdana, Arial, Helvetica, sans-serif;
  color: #004B83;
  padding-bottom: 10px;
}

#left-col {
  width: 265px;
  float: left;
}

#center-col {
  width: 426px;
  float: left;
  margin: 0 13px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

#right-col {
  width: 190px;
  float: left;
}

#media {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px
}

#media a:link, #media a:visited {
  font: bold 1.1em/1.15em Verdana, Arial, sans-serif;
  color: #004b83;
  text-decoration: none;
}

#media li {
  margin: 0 0 .8em .7em;
}

#clients {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#clients ul {
  padding-top: 5px;
}

#clients li {
  float: left;
  padding: 8px 0;
}

#clients a.nfl {
  opacity: .7;
  display: block;
  background: url("../images/logo-nfl.gif") no-repeat 0 0;
  width: 51px;
  height: 67px;
  text-indent: -9999px;
  margin: 0 25px 3px 0;
}

#clients a.mlb {
  opacity: .7;
  display: block;
  background: url("../images/logo-mlb.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 107px;
  height: 65px;
  margin: 0 25px 5px 0;
}

#clients a.nba {
  opacity: .7;
  display: block;
  background: url("../images/logo-nba.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 27px;
  height: 65px;
  margin-bottom: 5px;
}

#clients a.mls {
  opacity: .7;
  display: block;
  background: url("../images/logo-mls.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 74px;
  height: 66px;
  margin: 0 28px 4px 0;
}

#clients a.mls-padLeft {
  opacity: .7;
  display: block;
  background: url("../images/logo-mls.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 74px;
  height: 66px;
  margin: 0 28px 4px 25px;
}

#clients a.nj {
  opacity: .7;
  display: block;
  background: url("../images/logo-nets.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 60px;
  height: 66px;
  margin: 0 28px 4px 0;
}

#clients a.avp {
  opacity: .7;
  display: block;
  background: url("../images/logo-avp.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 43px;
  height: 70px;
}

#clients a.cbs {
  opacity: .7;
  display: block;
  background: url("../images/logo-cbs.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 78px;
  height: 34px;
  margin: 0 5px 36px 0;
}

#clients a.cbs-padLeft {
  opacity: .7;
  display: block;
  background: url("../images/logo-cbs.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 78px;
  height: 34px;
  margin: 0 5px 36px 20px;
}

#clients a.fan {
  opacity: .7;
  display: block;
  background: url("../images/logo-fanhouse.gif") no-repeat 0 0;
  text-indent: -9999px;
  width: 169px;
  height: 17px;
  margin: 0 0 0 10px;
}

#clients a:visited {}

#clients a:hover {
  opacity: 1;
}

#homecontent #students p {
  font: normal 1em/1.8em Verdana, Arial, sans-serif;
  color: #333;
}

#homecontent #students a:link, #homecontent #students a:visited {
  color: #187bde;
  text-decoration: none;
}

#homecontent #students a:hover {
  text-decoration: underline;
}

#slideshow {
  position: relative;
  height: 270px;
}

#slideshow div.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 0.0;
  background-color: #FFF;
}

#slideshow div.active {
  z-index: 10;
  opacity: 1.0;
}

#slideshow div.last-active {
  z-index: 9;
}

#slideshow div.image img {
  border: 0;
}

div.caption {
  background: #990000;
  color: #fff;
  font: bold 1em/1.4em Verdana, Arial, sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

div.caption-wrap {
  padding: 10px;
}

div.caption a:link, div.caption a:visited {
  color: #fff;
  font-size: .95em;
  font-weight: normal;
  text-decoration: none;
  padding: none;
  margine: none;
}

#content a.wsba-video:link, #content a.wsba-video:visited {
  color: #fff;
  font-size: .95em;
  font-weight: normal;
  text-decoration: none;
  padding: none;
  margine: none;
}

#content a.wsba-video:hover {
  color: #fff;
  font-size: .95em;
  font-weight: normal;
  text-decoration: underline;
  padding: none;
  margine: none;
}

.wsba-video-box {
  background: #990000;
  color: #fff;
  width: 300px;
  padding: 10px;
}

#slideshow.wsba {
  position: relative;
  height: 390px;
  z-index: 1;
}

#homecontent #research {
  border-bottom: 1px solid #e0e0e0;
  margin: 0 15px 15px 15px;
  padding: 10px 0;
}

#homecontent #research li {
  padding: 0 0 5px 20px;
  background: url("../images/bttn-dwnload.gif") no-repeat 0 .25em;
}

#homecontent #research a:link, #homecontent #research a:visited {
  font: normal 1em/1.1em Verdana, Arial, sans-serif;
  color: #003399;
  text-decoration: none;
}

#homecontent #research a:hover {
  text-decoration: underline;
}

#homecontent #about {
  margin: 15px;
  font: normal 1em/2em Verdana, Arial, sans-serif;
  color: #666;
}

#homecontent #about strong {
  font-size: 1.1em;
}

#homecontent #events {
  font: normal 1em/1.4em Verdana, Arial, sans-serif;
  color: #333;
}

#homecontent #events a:link, #homecontent #events a:visited {
  font-weight: bold;
  color: #004b83;
  text-decoration: none;
}

#homecontent #events a.sub:link, #homecontent #events A.sub:visited {
  font-weight: normal;
}

#homecontent #events h2.large {
  font: bold 1.4em/1.5em Verdana, Arial, sans-serif;
}

#homecontent #events li {
  margin: 0 0 10px 10px;
}

#homecontent #events a:hover {
  text-decoration: underline;
}

#youtube {
  display: block;
  background: url(../images/bttn-youtube.gif) no-repeat left center;
  font: normal 1em/1em Verdana, Arial, sans-serif;
  text-indent: 15px;
  padding: 10px 17px;
  color: #990000;
  margin: 15px 0;
  text-decoration: none;
}

#knowledge {
  background: #e4f0f7 url("../images/border-green.gif") repeat-x 0 0;
  font: normal 1em/1.4em Verdana, Arial, sans-serif;
  padding: 5px 15px;
}

#knowledge h2 a {
  display: block;
  text-indent: -9999px;
  background: url("../images/knowledge-at-wharton.gif") no-repeat left top;
  width: 132px;
  height: 50px;
  margin: 0 auto;
}

#homecontent #knowledge a:link {
  color: #0066cc;
  text-decoration: none;
}

#knowledge a:visited {
  color: #336;
  text-decoration: none;
}

#knowledge a:hover {
  text-decoration: underline;
}

#knowledge i {
  display: block;
  border-bottom: solid 1px #999;
  padding: 0 0 5px 5px;
}

#homecontent h2 {
  font: bold 1.25em/1.25em Verdana, Arial, sans-serif;
  color: #990000;
}

#homecontent h3 {
  font: bold 1.1em/1.1em Verdana, Arial, sans-serif;
  color: #003376;
}

#homecontent a:hover, #homecontent li a:hover {
  text-decoration: underline;
}


/* END HOME */


/* BANNER */

#banner {
  padding: 0 10px;
  z-index: -100;
}

#banner .about {
  background-image: url(../images/banner-07.jpg);
  height: 200px;
  position: relative;
}

#banner .events {
  background-image: url(../images/banner-02.jpg);
  height: 200px;
  position: relative;
}

#banner .faculty {
  background-image: url(../images/banner-03.jpg);
  height: 200px;
  position: relative;
}

#banner .research {
  background-image: url(../images/banner-04.jpg);
  height: 200px;
  position: relative;
}

#banner .researchbooks {
  background-image: url(../images/kenshropshire.jpg);
  height: 200px;
  position: relative;
}

#banner .socialimpact {
  background-image: url(../images/banner-05.jpg);
  height: 200px;
  position: relative;
}

#banner .news {
  background-image: url(../images/banner-06.jpg);
  height: 200px;
  position: relative;
}

#banner .contact {
  background-image: url(../images/banner-01.jpg);
  height: 200px;
  position: relative;
}

#banner .students {
  background-image: url(../images/banner-08.jpg);
  height: 200px;
  position: relative;
}


/* BANNER NAV */

#banner-nav {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 900px;
}

#banner-nav ul {
  list-style: none;
  float: right;
}

#banner-nav li {
  float: left;
}

#banner-nav a {
  display: block;
  background: url(../images/WSBI/nav_images/tableftC_2.gif) no-repeat left top;
  margin-right: 2px;
  padding: 0 0 0 4px;
  text-decoration: none;
}

#banner-nav a span {
  float: left;
  display: block;
  background: url(../images/WSBI/nav_images/tabrightC_2.gif) no-repeat right top;
  padding: 5px 12px 4px 6px;
  color: #464E42;
}


/* Selected state \*/

#banner-nav .selected a span {
  color: #990000;
  background-position: 100% -42px;
}

#banner-nav .selected a {
  background-position: 0 -42px;
}


/* Commented Backslash Hack hides rule from IE5-Mac \*/

#banner-nav a span {
  float: none;
}


/* End IE5-Mac hack */

#banner-nav a:hover span {
  color: #990000;
  background-position: 100% -42px;
}

#banner-nav a:hover {
  background-position: 0 -42px;
}


/* CONTENT + LAYOUT */

#colL-alt #third-nav ul {
  padding: 0;
  margin: 0;
}

#colL-alt #third-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}

#colL-alt #third-nav a {
  padding: 3px 15px 3px 3px;
  display: block;
  margin-right: 3px;
  color: #003366;
  background: #eee url(../images/nav-arrow-thirdnav.gif) no-repeat right center;
  text-decoration: none;
}

#colL-alt #third-nav a:hover {
  background: #ccc url(../images/nav-arrow-thirdnav.gif) no-repeat right center;
}

#colL-alt #third-nav a.selected {
  color: #003366;
  background: #ccc url(../images/nav-arrow-thirdnav.gif) no-repeat right center;
}

#content {
  position: relative;
}

#eventsButton {
  background: url(../images/WSBI/Home_images/button_round.jpg) no-repeat center center;
  height: 30px;
  line-height: 30px;
  width: 108px;
  padding-left: 25px;
}

#eventsButton a:hover {
  color: #FF9900;
}

#colR {
  width: 230px;
  float: left;
  margin: 20px 20px 0 0;
}

#events #colR {
  width: 220px;
  float: left;
  margin: 20px 20px 0 0;
}

#colR .wrapper {
  padding: 15px 25px 10px 25px;
  background-color: #e4f2f7;
  border-top: 6px double #9ea534;
}


/* ABOUT PAGE FONT STYLE */

.sideHeader {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #9ea534;
  font-size: 1.2em;
}

.sideText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1.4em;
}

.sideText a {
  text-decoration: underline;
}

.sideText a:hover {
  color: #0099FF;
}


/* CALENDAR PAGE FONT STYLE */

table {
  border-collapse: collapse;
  margin-top: 5px;
}

th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #eee;
  text-align: left;
  font-size: 1em;
  padding: 5px 0px 5px 5px;
  font-weight: bold;
}

td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 4px 5px 5px 5px;
}

td {
  border-bottom: 1px solid #CCCCCC;
}

#content a:link, #content a:visited {
  color: #0066cc;
}

#content a:hover {
  color: #990000;
}

.border-top {
  border-top: 1px solid #CCCCCC;
}


/*FACULTY PAGE*/

#faculty #banner-nav, #contact #banner-nav {
  display: none;
}


/* FOOTER */

#footer {}


/* TYPE */

.introtext {
  font: normal 1.3em/1.6em Verdana, Arial, Helvetica, sans-serif;
  color: #900;
  letter-spacing: 0.05em;
}

h2 {
  font: bold 1.25em/1.25em Verdana, Arial, sans-serif;
  color: #990000;
  margin: 12px 0 7px 0;
}

h3 {
  font: bold 1.1em/1.3em Verdana, Arial, Helvetica, sans-serif;
  color: #003366;
  margin: 5px 0 2px 0;
}

h4 {
  font: normal .9em/1.1em Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  text-transform: uppercase;
  margin: 5px 0 7px 0;
  letter-spacing: 0.06em;
}

p {
  margin: 0 0 10px 0;
  font-size: 1em;
  line-height: 1.8em;
}

#colL ul, #colL-alt ul {
  padding-left: 20px;
}

#colL-alt li {
  list-style: circle;
  list-style-position: outside;
  margin: 0 0 5px 0;
}

.caption {
  color: #999;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tablehead {
  background: #eee;
  color: #333333;
  line-height: 1.7em;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #dbd5c9;
  border-top: 1px solid #dbd5c9;
}

a:link, a:visited, a:active, a:focus {
  color: #2093b9;
}

a:hover {
  color: #F00;
}


/*Bulleted list*/

#text ul, #text ol {
  margin: 0 0 5px 0;
}

#text li {
  background: url(../images/arrow_bullet.gif) no-repeat center left;
  margin: 0 0 4px 0 !important;
  margin: 0;
  padding: 0 0 0 15px !important;
  padding: 0 0 0 20px;
}


/*Anchor list*/

#anchor {
  float: none;
  position: relative;
  border-bottom: 3px double #eee;
  padding: 3px 0;
}

#text #anchor li {
  display: inline;
  padding: 0 !important;
  margin: 0;
  background: none;
  width: 100%;
}

#text #anchor li a {
  display: block;
  background: url(../images/arrow_anchor.gif) no-repeat left center;
  padding: 2px 5px 2px 15px !important;
  margin: 0 0 3px 0;
}

#text #anchor li a:hover {
  background: #eee url(../images/arrow_anchor.gif) no-repeat left center;
}

#bannernav-wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.italic {
  font-style: italic;
}

#home a:hover {
  text-decoration: underline;
}

p.knowledge-caption {
  font-size: 1em;
  line-height: 1.4em;
  border-top: 1px solid #ccc;
  color: #999;
  padding: 10px 0 5px 0;
}


/*ALT STYLES*/

#colL-alt h1,
.calendar-heading {
  font: normal 2em/1em Verdana, Arial, Helvetica, sans-serif;
  color: #004b83;
  padding-bottom: 10px;
}

#colR-alt {
  width: 170px;
  float: left;
  margin: 20px 0 0 0;
}

#colR-alt .wrapper {
  padding: 15px 15px 10px 15px;
  background-color: #e4f2f7;
  border-top: 6px double #9ea534;
}

#colL-alt {
  float: left;
  width: 770px;
}

#colL-alt .wrapper {
  padding: 20px 45px 20px 30px;
}

#colL-alt-wsba {
  float: left;
  width: 680px;
}

#colL-alt-wsba .wrapper {
  padding: 0 0 0 30px;
}

#colL-alt-wsba h1 {
  font: normal 2em/1em Verdana, Arial, Helvetica, sans-serif;
  color: #004b83;
  padding-bottom: 10px;
}

#colR-alt-wsba {
  width: 240px;
  float: left;
  margin: 0 0 0 0;
  background: #CCCCCC;
  padding: 0 10px 0 10px;
}

.col-wsba {
  width: 640px;
  float: left;
  padding-bottom: 20px;
}

h1.wsba-headline {
  font: normal 2em/1em Verdana, Arial, Helvetica, sans-serif;
  color: #004B83;
  padding: 20px 0 10px 30px;
}

.image-alt {
  float: right;
  padding: 0 0 5px 10px;
}

#colL-wsba {
  float: left;
  width: 640px;
}

#colL-wsba ul {
  padding-left: 20px;
}

#colL-wsba li {
  list-style: circle;
  list-style-position: outside;
  margin: 0 0 5px 0;
}

#colR-wsba {
  float: left;
  width: 260px;
  margin-left: 20px;
}

#colR-wsba-apply {
  background: #d9d9d9;
  padding: 5px 10px 0 10px;
  height: 385px;
}

ul.wsba-right {
  font-size: 12px;
  font-weight: bold;
  padding-left: 20px;
}

ul.wsba-right li {
  list-style: disc;
  padding-top: 10px;
}

.thumb-gallery {
  margin-right: 16px;
  margin-bottom: 12px;
  border: 2px solid #00447a;
  display: block;
  width: 118px;
  height: 118px;
  float: left;
}

.thumb-gallery-02 {
  margin-right: 0;
  margin-bottom: 12px;
  border: 2px solid #00447a;
  display: block;
  width: 118px;
  height: 118px;
  float: left;
}

.thumb-gallery:hover {
  border: 2px solid red;
}

.thumb-gallery-02:hover {
  border: 2px solid red;
}


/*Right col Ad BANNER */

span.nobold {
  font-weight: normal;
  font-size: .9em;
  padding-top: 5px;
  display: block;
}

#academy, div.ad-block {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#academy h2.banner, #homecontent div.ad-block h2.banner {
  color: #fff;
  padding: 0;
  margin: 0;
  padding: 10px;
  background: #990000;
  margin-bottom: 3px;
}

#academy a:link, #academy a:visited, div.ad-block a:link, div.ad-block a:visited {
  display: block;
  background: #003366;
  padding: 2px 10px;
  color: #fff;
  text-decoration: none;
}

#academy a:hover, div.ad-block a:hover {
  text-decoration: underline;
}


/*Home Page Refresh*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn-cta, .btn-cta:link {
  display: block;
  background-color: #00447a;
  color: #fff;
  line-height: 2;
  text-decoration: none;
  padding-left: 20px;
}

.footer-link, .footer-link:link, .slider-link, .slider-link:link, .slider-link:visited {
  color: #fff;
  text-decoration: none;
}

.hero, .content {
  margin-bottom: 15px;
  float: left;
  display: block;
  font-size: 14px;
}

.slide-caption {
	display: block;
	padding: 15px;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #fff;
	background-color: rgba(153,0,0,0.33);
	margin-bottom: 0;
}

.slide-caption-title {
	color: #fff !important;
}

.slider {
  width: 715px;
  float: left;
  margin-right: 15px;
}

.mission {
  width: 190px;
  float: left;
}

.sidekick, .events, .contact-info, .contact-form {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.sidekick {
  padding-right: 7px;
}

#homecontent .sidekick h1, #homecontent .events h1 {
  text-align: center;
  display: block;
  background-color: #00447a;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 0;
}

#homecontent .sidekick h2, #homecontent .events h2 {
  font-size: 14px;
  text-transform: uppercase;
}

.events {
  padding-left: 7px;
}

.event {
  border-bottom: 1px solid #e0e0e0;
}

.event > h2, .event > p {
  padding: 0 15px;
}

.calendar-wrapper {
	padding: 20px;
}

.footer {
  display: block;
  float: left;
  width: 100%;
  background-color: #00447a;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.contact-form {
  padding-left: 7px;
}

.contact-form h2 {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
}

.mc-field-group input {
  width: 90%;
  line-height: 2;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 5px;
}

.btn-submit {
  background-color: #900;
  color: #fff;
  text-align: center;
  padding: 10px 30px;
  border: 0;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #A00;
  cursor: pointer;
}

.btn-submit:active {
  background-color: #800;
}
input.gsc-search-button {	
    padding: 2px 6px;
    background-color: #900;
    border: 0;
    color: white;
}
div.gsc-clear-button {
	margin: 0 !important;
    padding: 4px !important;
}

input#gsc-i-id1 {
	background-image: none !important;
}

.gsc-results-wrapper-nooverlay {
    width: 600px;
    position: relative !important;
    left: -400px;
    background: white;
    border-left: 1px solid #ccc;
}


/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -40px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: left;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 0px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .5;
    color: #aaa;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #900;
}
